.login_card {
    width: 90%;
    margin: auto;
    position: absolute;
    top: 20%;
}
@media (min-width: 768px) {
    .login_card {
        width: 50%;
    }
}
.login_layout {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(../images/loginBanner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;    
}
