:root {
  --negro: #1e1f26;
  --azulOscuro: #283655;
  --azul: #4d648d;
  --celeste: #d0e1f9;
  --azulMedio: #656c95;
  --verde: #7ed957;
  --rojo: #ff3131;
  --cafe: #ab7d41;
}
.txt_azul{
  color: var(--azul) !important;
}
.bg-azulOscuro {
  background-color: var(--azulOscuro) !important;
}
.bg-azulMedio{
  background-color: var(--azulMedio) !important;
}
.bg-cafe{
  background-color: var(--cafe) !important;
}
.bg-verde{
  background-color: var(--verde) !important;
}


.navbar a {
  color: white !important;
}
* {
  box-sizing: border-box;
  margin: 0;
}
.bg-celeste{
    background-color: var(--celeste) !important;
}
.bg-none{
  background: none;
}
.buscar{
  width: 100% !important;
}
@media (min-width: 768px) {
  .buscar{
      width: 50% !important;
  }
}
.boton-25{
  width: 100% !important;
}
@media (min-width:768px) {
  .boton-25{
    width: 25% !important;
  }
}
.navbar__flex{
  display: flex ;
  gap: 1rem;
  align-items: start;
}
@media (min-width: 992px) {
  .navbar__flex{
    align-items: center;
  }
}