:root {
  --negro: #1e1f26;
  --azulOscuro: #283655;
  --azul: #4d648d;
  --celeste: #d0e1f9;
  --azulMedio: #656c95;
  --verde: #7ed957;
  --rojo: #ff3131;
  --cafe: #ab7d41;
}

.bg-azulOscuro {
  background-color: var(--azulOscuro);
}
.navbar a {
  color: white !important;
}
* {
  box-sizing: border-box;
  margin: 0;
}
.bg-celeste{
    background-color: var(--celeste) !important;
}
